@use '../borders';
@use '../colors';
@use '../fonts';
@use '../layers';
@use '../motion';
@use '../spacing';
@use '../themes';
@use '../utilities';

@include themes.push('default', (
  'button-text-color': colors.$color-white,
  'button-text-font': fonts.$font-secondary,
  'button-bg-color': colors.$color-dark-prussian-blue,
  'button-border-color': colors.$color-black,

  'button-one-text-color': colors.$color-white,
  'button-one-bg-color': colors.$color-secondary,
  'button-one-text-color-hover': colors.$color-white,
  'button-one-bg-color-hover': colors.$color-secondary-500,
  'button-one-text-color-disabled': colors.$color-white,
  'button-one-bg-color-disabled': colors.$color-gray-400,

  'button-two-text-color': colors.$color-dark-prussian-blue,
  'button-two-bg-color': colors.$color-white,
  'button-two-text-color-hover': colors.$color-gray-600,
  'button-two-bg-color-hover': colors.$color-gray-200,
  'button-two-text-color-disabled': colors.$color-gray-400,
  'button-two-bg-color-disabled': colors.$color-gray-200,

  'button-three-text-color': colors.$color-gray-600,
  'button-three-bg-color': transparent,
  'button-three-text-color-hover': colors.$color-gray-600,
  'button-three-bg-color-hover': colors.$color-gray-200,
  'button-three-text-color-disabled': colors.$color-gray-500,
  'button-three-bg-color-disabled': transparent,

  'button-four-text-color': colors.$color-gray-600,
  'button-four-bg-color': colors.$color-white,
  'button-four-border-color': colors.$color-gray-200,
  'button-four-text-color-hover': colors.$color-gray-600,
  'button-four-bg-color-hover': colors.$color-white,
  'button-four-border-color-hover': colors.$color-gray-300,
  'button-four-text-color-disabled': colors.$color-gray-400,
  'button-four-bg-color-disabled': colors.$color-white,
  'button-four-border-color-disabled': colors.$color-white,
));

.alya-button {
  position: relative;

  display: inline-flex;

  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  padding: spacing.$spacing-12 spacing.$spacing-20;
  margin: 0;

  font-size: fonts.$font-size-16;
  font-weight: fonts.$font-weight-semibold;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;

  border: none;
  border-radius: borders.$border-radius-md;

  transition: all motion.$motion-duration-ultra-fast motion.$motion-easing-linear;

  @include themes.apply {
    font-family: themes.get('button-text-font');
    color: themes.get('button-text-color');

    background-color: themes.get('button-bg-color');
  }
}

.alya-button[disabled] {
  cursor: not-allowed;
}

.alya-button__icon svg {
  display: block;

  width: spacing.$spacing-18;
  height: spacing.$spacing-18;
}

.alya-button__icon--left {
  margin-right: spacing.$spacing-8;
}

.alya-button__icon--right {
  margin-left: spacing.$spacing-8;
}

@media only screen and (width <= 768px) {
  .alya-button {
    font-size: fonts.$font-size-14;
  }
}

// alya-button - small

.alya-button--small {
  padding: spacing.$spacing-10 spacing.$spacing-18;

  font-size: fonts.$font-size-14;
}

.alya-button--small .alya-button__icon svg {
  width: spacing.$spacing-16;
  height: spacing.$spacing-16;
}

// alya-button--only-icon

.alya-button--only-icon {
  padding: spacing.$spacing-6;
}

.alya-button--only-icon svg {
  width: spacing.$spacing-18;
  height: spacing.$spacing-18;
}

// alya-button--one

.alya-button--one {
  padding: spacing.$spacing-12 spacing.$spacing-20;

  font-size: fonts.$font-size-16;
  font-weight: fonts.$font-weight-semibold;

  @include themes.apply {
    color: themes.get('button-one-text-color');

    background-color: themes.get('button-one-bg-color');
  }
}

.alya-button--one:focus,
.alya-button--one:hover {
  @include themes.apply {
    color: themes.get('button-one-text-color-hover');

    background-color: themes.get('button-one-bg-color-hover');
  }
}

.alya-button--one[disabled] {
  @include themes.apply {
    color: themes.get('button-one-text-color-disabled');

    background-color: themes.get('button-one-bg-color-disabled');
  }
}

@media only screen and (width <= 768px) {
  .alya-button--one {
    font-size: fonts.$font-size-14;
  }
}

.alya-button--one.alya-button--small {
  padding: spacing.$spacing-10 spacing.$spacing-18;

  font-size: fonts.$font-size-14;
}

.alya-button--one.alya-button--only-icon {
  padding: spacing.$spacing-6;
}

// alya-button--two

.alya-button--two {
  padding: spacing.$spacing-12 spacing.$spacing-20;

  font-size: fonts.$font-size-16;
  font-weight: fonts.$font-weight-semibold;

  @include themes.apply {
    color: themes.get('button-two-text-color');

    background-color: themes.get('button-two-bg-color');
  }
}

.alya-button--two:focus,
.alya-button--two:hover {
  @include themes.apply {
    color: themes.get('button-two-text-color-hover');

    background-color: themes.get('button-two-bg-color-hover');
  }
}

.alya-button--two[disabled] {
  @include themes.apply {
    color: themes.get('button-two-text-color-disabled');

    background-color: themes.get('button-two-bg-color-disabled');
  }
}

@media only screen and (width <= 768px) {
  .alya-button--two {
    font-size: fonts.$font-size-14;
  }
}

.alya-button--two.alya-button--small {
  padding: spacing.$spacing-10 spacing.$spacing-18;

  font-size: fonts.$font-size-14;
}

.alya-button--two.alya-button--only-icon {
  padding: spacing.$spacing-6;
}

// alya-button--three

.alya-button--three {
  padding: spacing.$spacing-12 spacing.$spacing-20;

  font-size: fonts.$font-size-16;
  font-weight: fonts.$font-weight-semibold;

  @include themes.apply {
    color: themes.get('button-three-text-color');

    background-color: themes.get('button-three-bg-color');
  }
}

.alya-button--three:focus,
.alya-button--three:hover {
  @include themes.apply {
    color: themes.get('button-three-text-color-hover');

    background-color: themes.get('button-three-bg-color-hover');
  }
}

.alya-button--three[disabled] {
  @include themes.apply {
    color: themes.get('button-three-text-color-disabled');

    background-color: themes.get('button-three-bg-color-disabled');
  }
}

.alya-button--three.alya-button--small {
  padding: spacing.$spacing-10 spacing.$spacing-18;

  font-size: fonts.$font-size-14;
}

.alya-button--three.alya-button--only-icon {
  padding: spacing.$spacing-6;
}

// alya-button--four

.alya-button--four {
  padding: spacing.$spacing-12 spacing.$spacing-16;

  font-size: fonts.$font-size-16;
  font-weight: fonts.$font-weight-semibold;

  @include themes.apply {
    color: themes.get('button-four-text-color');

    background-color: themes.get('button-four-bg-color');
    border: borders.$border-width-sm solid themes.get('button-four-border-color');
  }
}

.alya-button--four:focus,
.alya-button--four:hover {
  @include themes.apply {
    color: themes.get('button-four-text-color-hover');

    background-color: themes.get('button-four-bg-color-hover');
    border-color: themes.get('button-four-border-color-hover');
  }
}

.alya-button--four[disabled] {
  @include themes.apply {
    color: themes.get('button-four-text-color-disabled');

    background-color: themes.get('button-four-bg-color-disabled');
    border-color: themes.get('button-four-border-color-disabled');
  }
}

@media only screen and (width <= 768px) {
  .alya-button--four {
    font-size: fonts.$font-size-14;
  }
}

.alya-button--four.alya-button--small {
  padding: spacing.$spacing-10 spacing.$spacing-14;

  font-size: fonts.$font-size-14;
}

.alya-button--four.alya-button--only-icon {
  padding: spacing.$spacing-6;
}
