@use '../borders';
@use '../colors';
@use '../fonts';
@use '../layers';
@use '../motion';
@use '../spacing';
@use '../themes';
@use '../utilities';

@include themes.push('default', (
  'button-text-color': colors.$color-gray-600,
  'button-bg-color': colors.$color-white,
  'button-border-color': colors.$color-gray-200,

  'button-text-color-hover': colors.$color-gray-600,
  'button-bg-color-hover': colors.$color-white,
  'button-border-color-hover': colors.$color-gray-300,

  'button-text-color-disabled': colors.$color-gray-400,
  'button-bg-color-disabled': colors.$color-white,
  'button-border-color-disabled': colors.$color-white,


  'button-secondary-text-color': colors.$color-white,
  'button-secondary-bg-color': colors.$color-secondary,
  'button-secondary-border-color': colors.$color-secondary,

  'button-secondary-text-color-hover': colors.$color-white,
  'button-secondary-bg-color-hover': colors.$color-secondary-600,
  'button-secondary-border-color-hover': colors.$color-secondary-600,

  'button-secondary-text-color-disabled': colors.$color-gray-200,
  'button-secondary-bg-color-disabled': colors.$color-secondary-300,
  'button-secondary-border-color-disabled': colors.$color-secondary,


  'button-tertiary-text-color': colors.$color-gray-600,
  'button-tertiary-bg-color': transparent,
  'button-tertiary-border-color': transparent,

  'button-tertiary-text-color-hover': colors.$color-gray-600,
  'button-tertiary-bg-color-hover': colors.$color-gray-200,
  'button-tertiary-border-color-hover': colors.$color-gray-200,

  'button-tertiary-text-color-disabled': colors.$color-gray-500,
  'button-tertiary-bg-color-disabled': transparent,
  'button-tertiary-border-color-disabled': transparent,

));

.alya-button {
  position: relative;

  display: inline-flex;

  flex-flow: row nowrap;

  gap: spacing.$spacing-6;

  align-items: center;
  justify-content: center;

  padding: spacing.$spacing-12 spacing.$spacing-16;
  margin: 0;

  font-size: fonts.$font-size-16;
  font-weight: fonts.$font-weight-semibold;
  text-decoration: none;

  cursor: pointer;

  border: none;
  border-radius: borders.$border-radius-md;

  transition: all motion.$motion-duration-ultra-fast motion.$motion-easing-linear;

  @include themes.apply {
    font-family: themes.get('button-text-font');
    color: themes.get('button-text-color');

    background-color: themes.get('button-bg-color');
    border: borders.$border-width-md solid themes.get('button-border-color');
  }
}

.alya-button:focus,
.alya-button:hover {
  @include themes.apply {
    color: themes.get('button-text-color-hover');

    background-color: themes.get('button-bg-color-hover');
    border-color: themes.get('button-border-color-hover');
  }
}

.alya-button__icon svg {
  display: block;

  width: spacing.$spacing-20;
  height: spacing.$spacing-20;
}

.alya-button__icon_left {
  margin-right: spacing.$spacing-8;
}

.alya-button__icon_right {
  margin-left: spacing.$spacing-8;
}

@media only screen and (width <= 768px) {
  .alya-button {
    font-size: fonts.$font-size-14;
  }
}

// alya-button_uppercase

.alya-button_uppercase {
  font-size: fonts.$font-size-14;
  text-transform: uppercase;
}

.alya-button_uppercase.alya-button_sm {
  font-size: fonts.$font-size-12;
}

.alya-button_uppercase.alya-button_lg {
  font-size: fonts.$font-size-16;
}

// alya-button_disabled

.alya-button[disabled],
.alya-button_disabled {
  cursor: not-allowed;

  @include themes.apply {
    color: themes.get('button-text-color-disabled');

    background-color: themes.get('button-bg-color-disabled');
    border-color: themes.get('button-border-color-disabled');
  }
}

// alya-button_sm

.alya-button_sm {
  padding: spacing.$spacing-10 spacing.$spacing-14;

  font-size: fonts.$font-size-14;
}

.alya-button_sm .alya-button__icon svg {
  width: spacing.$spacing-18;
  height: spacing.$spacing-18;
}

// alya-button_lg

.alya-button_lg {
  padding: spacing.$spacing-14 spacing.$spacing-18;

  font-size: fonts.$font-size-18;
}

.alya-button_lg .alya-button__icon svg {
  width: spacing.$spacing-22;
  height: spacing.$spacing-22;
}

// alya-button_only-icon

.alya-button_only-icon {
  padding: spacing.$spacing-8;
}

.alya-button_only-icon.alya-button_sm {
  padding: spacing.$spacing-6;
}

.alya-button_only-icon.alya-button_lg {
  padding: spacing.$spacing-10;
}

// alya-button_secondary

.alya-button_secondary {
  border: none;
  
  @include themes.apply {
    color: themes.get('button-secondary-text-color');

    background-color: themes.get('button-secondary-bg-color');
    border-color: themes.get('button-secondary-border-color');
  }
}

.alya-button_secondary:focus,
.alya-button_secondary:hover {
  @include themes.apply {
    color: themes.get('button-secondary-text-color-hover');

    background-color: themes.get('button-secondary-bg-color-hover');
    border-color: themes.get('button-secondary-border-color-hover');
  }
}

.alya-button_secondary[disabled],
.alya-button_secondary.alya-button_disabled {
  opacity: 0.7;

  @include themes.apply {
    color: themes.get('button-secondary-text-color-disabled');

    background-color: themes.get('button-secondary-bg-color-disabled');
    border-color: themes.get('button-secondary-border-color-disabled');
  }
}

// alya-button_tertiary

.alya-button_tertiary {
  border: none;

  @include themes.apply {
    color: themes.get('button-tertiary-text-color');

    background-color: themes.get('button-tertiary-bg-color');
    border-color: themes.get('button-tertiary-border-color');
  }
}

.alya-button_tertiary:focus,
.alya-button_tertiary:hover {
  @include themes.apply {
    color: themes.get('button-tertiary-text-color-hover');

    background-color: themes.get('button-tertiary-bg-color-hover');
    border-color: themes.get('button-tertiary-border-color-hover');
  }
}

.alya-button_tertiary[disabled],
.alya-button_tertiary.alya-button_disabled {
  opacity: 0.7;

  @include themes.apply {
    color: themes.get('button-tertiary-text-color-disabled');

    background-color: themes.get('button-tertiary-bg-color-disabled');
    border-color: themes.get('button-tertiary-border-color-disabled');
  }
}
