@use '../borders';
@use '../colors';
@use '../fonts';
@use '../layers';
@use '../motion';
@use '../spacing';
@use '../themes';
@use '../utilities';

@include themes.push('default', (
  'page-header-bg-color': transparent,
  'page-header-title-text-color': colors.$color-gray-600,
  'page-header-subtitle-text-color': colors.$color-gray-600,
  'page-header-description-text-color': colors.$color-gray-600,
  'page-header-back-button-color': colors.$color-gray-600,

  'page-header-small-bg-color': colors.$color-white,
  'page-header-small-border-bottom-color': colors.$color-gray-200,
));

.alya-page-header {
  position: relative;
  z-index: layers.$layer-2;

  display: flex;

  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-between;

  @include themes.apply {
    background-color: themes.get('page-header-bg-color');
  }
}

.alya-page-header__row {
  display: flex;

  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.alya-page-header__left,
.alya-page-header__right {
  display: flex;

  flex-flow: row nowrap;

  align-items: center;
}

.alya-page-header__left {
  justify-content: flex-start;
}

.alya-page-header__right {
  justify-content: flex-end;
}

.alya-page-header__back-button {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 0;
  margin-right: spacing.$spacing-14;
  margin-left: spacing.$spacing-28;

  cursor: pointer;

  background-color: transparent;
  border: none;

  transition: all motion.$motion-duration-fast motion.$motion-easing-linear;
}

.alya-page-header__back-button:focus,
.alya-page-header__back-button:hover {
  transform: scale(1.075);
}

.alya-page-header__back-button svg {
  width: auto;
  height: 26px;

  stroke-width: 4px;
  
  @include themes.apply {
    stroke: themes.get('page-header-back-button-color');
  }
}

.alya-page-header__titles {
  display: flex;

  flex-flow: column nowrap;

  padding: spacing.$spacing-28 spacing.$spacing-36;
}

.alya-page-header__title {
  margin: 0;

  font-size: fonts.$font-size-34;

  @include themes.apply {
    color: themes.get('page-header-title-text-color');
  }
}

.alya-page-header__description {
  margin: spacing.$spacing-2 0 0 0;

  font-size: fonts.$font-size-16;
  font-weight: 400;

  @include themes.apply {
    color: themes.get('page-header-description-text-color');
  }
}

.alya-page-header_show-back-button .alya-page-header__titles {
  padding: spacing.$spacing-28 0;
}

.alya-page-header_small {
  border-bottom: borders.$border-width-md solid;

  @include themes.apply {
    background-color: themes.get('page-header-small-bg-color');
    border-bottom-color: themes.get('page-header-small-border-bottom-color');
  }
}

.alya-page-header_small .alya-page-header__title {
  font-size: fonts.$font-size-18;
}

.alya-page-header_small .alya-page-header__description {
  font-size: fonts.$font-size-16;
}

.alya-page-header_small .alya-page-header__back-button svg {
  height: 21px;
}

.alya-page-header_small .alya-page-header__titles {
  padding: spacing.$spacing-16 spacing.$spacing-36;
}

.alya-page-header_small.alya-page-header_show-back-button .alya-page-header__titles {
  padding: spacing.$spacing-16 0;
}
