@use '../borders';
@use '../colors';
@use '../fonts';
@use '../layers';
@use '../motion';
@use '../spacing';
@use '../themes';
@use '../utilities';

.alya-panel-layout {
  display: flex;

  flex-flow: row nowrap;

  width: 100%;
  height: 100vh;
}

