$color-black: #000;

$color-white: #FFF;

$color-gray-100: #F4F4F6;
$color-gray-200: #EBEBEB;
$color-gray-300: #D1D1D6;
$color-gray-400: #C2C2C2;
$color-gray-500: #5D5D5D;
$color-gray-600: #333;

$color-dark-prussian-blue: #283244;

$color-yellow-100: #FEF0E6;
$color-yellow-400: #FABF49;

$color-dark-savoy-blue-100: #EBEFFE;
$color-dark-savoy-blue-200: #7391F9;
$color-dark-savoy-blue-300: #575FCC;
$color-dark-savoy-blue-400: #535AC2;
$color-dark-savoy-blue-500: #4a52bf;
$color-dark-savoy-blue-600: #404691;

$color-primary-100: $color-yellow-100;
$color-primary-400: $color-yellow-400;
$color-primary: $color-yellow-400;

$color-secondary-200: $color-dark-savoy-blue-200;
$color-secondary-300: $color-dark-savoy-blue-300;
$color-secondary-400: $color-dark-savoy-blue-400;
$color-secondary-500: $color-dark-savoy-blue-500;
$color-secondary-600: $color-dark-savoy-blue-600;
$color-secondary: $color-secondary-400;



















